body {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

p {
	text-align: center;
	text-align: center;
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 2em;
}

h2
{
		font-family: 'Lucida Console', Monaco, monospace;
		font-size: 2em;
}

pre {
	/* text-align: center; */
}
